/*----------CONTENT STYLE----------*/

.desktop {
  display: none;
}

.mobile {
  display: inherit;
}

body {
	overflow: hidden;
}

#container {
  width: 400px;
  height: 400px;
  top: 30px;
}
  
#avatar {
  width: 15px;
  height:60px;
  position: relative;
  left: -30px;
  top: -93px;
  float: right;
}


#title {
  padding-bottom: 40px;
  transition: 0.3s;
  padding-left: 0px;
}

#avatar_pic {
  height: 50px;
  transition: 0.3s;
  position: relative;
  float: right;
 }

.greeting {
  display: none;
}

#audio { 
  opacity: 0;
  stroke: #ff7700; 
  letter-spacing: 7px;
  
  animation:fadeInUp 1.5s;
  -webkit-animation:fadeInUp 1.5s;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#visual { 
  opacity: 0;
  stroke: #4f8db3; 
  margin-top: 10px;
  letter-spacing: 4px;
  
  animation:fadeInUp 1.5s;
  -webkit-animation:fadeInUp 1.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#about {
  opacity: 0;
  stroke: #555555; 
  margin-top: 10px;
  letter-spacing: 6px;
  
  animation:fadeInUp 1.5s;
  -webkit-animation:fadeInUp 1.5s;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#aud {
  animation: fadeInSlideLeft 0.1s;
  -webkit-animation:fadeInSlideLeft 0.1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-fill-mode: fowards;
  -webkit-animation-fill-mode: forwards;
}

#vis {
  animation: fadeInSlideLeft 0.1s;
  -webkit-animation:fadeInSlideLeft 0.1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-fill-mode: fowards;
  -webkit-animation-fill-mode: forwards;
}

#abo {
  animation: fadeInSlideLeft 0.1s;
  -webkit-animation:fadeInSlideLeft 0.1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s; 
  animation-fill-mode: fowards;
  -webkit-animation-fill-mode: forwards;
}

#footer {
  display: none;
}

/*----------BUTTONS----------*/

.text {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 23px;
  line-height: 32px;
  width: 105px;
  color: #111111;
  top: -50px;
  left: 105px;
  position: relative;
  transition: 0.4s;
}

.shape {
  opacity: 0;
  stroke-dasharray: 95 540;
  stroke-dashoffset: -496;
  stroke-width: 2px;
  fill: transparent;  
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset:-496;
  stroke-dasharray: 95 540;
}

.svg-wrapper {
  padding-bottom: 12px; 
}